table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 2px solid  #009879;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  color: white;
  background-color: #009879;

}

tr {
  background-color: #f2f2f2;
}

button {
  background-color: #009879;
  color: white;
  border: none;
}

.page-number {
  display: flex;
  gap: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.page-number.active {
  background-color: #ddd;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.currentPage {
  display: inline-block;
  padding: 2px 5px;
  background-color: #009879;
  margin: 0 10px;
  color: white;
}

.heading {
  text-align: center;
}



th.left-align {
  text-align: left;
}